.menu {
    background-image: url(../images/background_menu.svg);
    background-size: cover;
    color: black;
    margin: 0 auto;
    height: 100vh;
}

.menu__title {
    text-align: center;
    max-width: 780px;
    font-family: Inter;
    font-style:normal;
    font-weight:500;
    font-size:44px;
    line-height:52px;
    margin: 100px auto 0;
}

.menu__subtitle {
    text-align: center;
    width: 780px;
    margin: 24px auto 0;
    font-family: "Noto Serif"; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;
}

.menu__cards {
    position: relative;
    margin: 100px auto 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    width:540px;
    margin: 0;
}

.card__title {
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 30px;
    margin: 0 0 32px;
}

.card__list-item {
    list-style-type: none;
    font-family: "Noto Serif"; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    line-height: 20px;
    padding-bottom: 16px;
    display: flex;
}

.card__list-divider{
    flex-grow: 1;
    border-bottom: 1px solid black;
}